<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta name="theme-color" content="#000000">
        <!--
          manifest.json provides metadata used when your web app is added to the
          homescreen on Android. See https://developers.google.com/web/fundamentals/engage-and-retain/web-app-manifest/
        -->
        <link rel="manifest" href="<%= CONTEXT %>/manifest.json">
        <link rel="shortcut icon" href="<%= CONTEXT %>/favicon.png">

        <link rel="stylesheet" href="<%= CONTEXT %>/css/styles.css">
        <link rel="stylesheet" href="<%= CONTEXT %>/static/css/<%= MAIN_CSS %>">

        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Nunito:300,400,600,700">
        <!--<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500">-->
        <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.5.2/animate.min.css">

        <script type="text/javascript">
            window.$pnConfig = <%- JSON.stringify(APP_CONFIG || {}) %>;
        </script>
        <base href="<%= CONTEXT %>/" />

        <title>Account Manager - ProcureNetworks</title>
    </head>
    <body>
        <noscript>
            You need to enable JavaScript to run this app.
        </noscript>
        <div id="core"></div>
        <script type="text/javascript" src="<%= CONTEXT %>/static/js/<%= MAIN_JS %>"></script>
    </body>
</html>
